<!DOCTYPE html>
<html>
    <% include ../partials/header %>
<head>
    
</head>

<body class="skin-default">
    
    index page
    
    
    
    
    
    
    
    <% include ../partials/footer %>
</body>    

</html>
